
@{
    ViewBag.Title = "Test3";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Yapılacaklar</h4>
<p>Başlıklarda arama kutucuğu</p>
<p>Yazar Görselleri Düzenlenecek</p>
<p>Grafikler</p>
<p>Vitrin Teması</p>
<p>Gelen Kutusunda Arama</p>
<p>Yetkilendirmeler</p>
<p>Hata sayfasu layoutdan ayrılacak</p>
<p>Sözlük ve Vitrin Ayrılacak</p>
<p>Proje Dosyaları Sunucuya Taşınacak</p>


